@font-face {
   font-family: 'antiqua';
   src: url('../font/bookantiqua.ttf') format('truetype');;
}

@font-face {
   font-family: 'quirlycues';
   src: url('../font/Quirlycues.ttf') format('truetype');;
}

body {
    background-color:#d1c5a7;
}

div .invisible {
	display:none;
}

div .visible {
	display:block !important;
}

div .back {
    width:900px;
    height:700px;
    background-color:white;
    border: 1px solid red;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
}

div .central {
    width:850px;
    height:580px;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow:0px 0px 10px #333333;  
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(230,230,230)),
        color-stop(0.52, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(230,230,230) 4%,
        rgb(255,255,255) 52%
    );  
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
}

div .back-image {
    width:850px;
    height:580px;
    /*background-image: url("../images/home.jpg");*/
    background-repeat: no-repeat;
    background-position:center;
}

div .central-text {
    position:relative;
    width:280px;
    height:580px;
    margin-left:50px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgba(230,230,230,0.90)),
        color-stop(0.52, rgba(255,255,255,0.90))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(230,230,230,0.90) 4%,
        rgba(255,255,255,0.90) 52%
    );
    -moz-box-shadow: 0px 0px 8px #222222;
    -webkit-box-shadow:0px 0px 8px #222222;
}

div .logo {
    width:275px;
    height:200px;
    border:1px solid lime;
    text-align:center;
    
    
}
div .message {
    width:260px;
    font-size:15px;
    padding:8px;
    text-align:justify;
    font-family:antiqua;
    
}


div .menu {
    height: 50px;
    width: 850px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

div .menu-button {
    height: 43px;
    width: 120px;
    float:left;
    margin-left:80px;
    text-align:center;
    vertical-align:middle;
    font-family:quirlycues;
    font-size:36px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    font-weight:900;
    color:#615842;
    
    border-bottom:2px solid #615842;
    
/*    
    text-shadow: #615842 2px 2px 2px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow:0px 0px 10px #333333;
    background-color:#8C8365;*/
    /*background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(207,207,207)),
        color-stop(0.72, rgb(245,245,245))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(207,207,207) 18%,
        rgb(245,245,245) 72%
    );*/
}

div .menu-button:hover {
    height: 43px;
    width: 120px;
    float:left;
    margin-left:80px;
    margin-top:-5px;
    text-align:center;
    vertical-align:middle;
    font-family:quirlycues;
    font-size:36px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    font-weight:900;
    color:#817862;
    
    border-bottom:2px solid #817862;
    cursor:pointer;
}

div .menu-button:active {
    height: 43px;
    width: 120px;
    float:left;
    margin-left:80px;
    margin-top:-5px;
    text-align:center;
    vertical-align:middle;
    font-family:quirlycues;
    font-size:36px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    font-weight:900;
    color:#312812;
    
    border-bottom:2px solid #312812;
    cursor:pointer;
}

div .map {
    position:absolute;
    width:0px;
    height:310px;
    margin-left:850px;
    top:135px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(230,230,230)),
        color-stop(0.52, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(230,230,230) 4%,
        rgb(255,255,255) 52%
    );
    -moz-box-shadow: 0px 0px 8px #222222;
    -webkit-box-shadow:0px 0px 8px #222222;
    -moz-border-radius: 8px 0px; 
    -webkit-border-radius: 8px 0px 0px 8px;
}

div .map iframe {
    margin-left:10px;
    margin-top:5px;
    display:none;
}


div .image_slot{
    padding:7px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 7px;
    -webkit-box-shadow:0px 0px 10px #333333;  
    display:inline-block;
    margin:10px;
}


div .galleryTitle{
    text-align:center;
}

div .back_gallery{
    background-color: #505050;
    width: 819px;
    height: 546px;
    top:30%;
    font-size: 40pt;
    font-weight: bold;
    color:gray;
    text-shadow: 0px 1px 1px 0px white, 0px -1px 1px 0px black;
}
