@font-face {
   font-family: 'antiqua';
   src: url('../font/bookantiqua.ttf') format('truetype');;
}

@font-face {
   font-family: 'quirlycues';
   src: url('../font/Quirlycues.ttf') format('truetype');;
}

body {
    background-color:#d1c5a7;
    display: none;
}

.invisible {
	display:none;
}

.visible {
	display:block !important;
}


/****************** struttura base *********************/

.back{
    width:900px;
    height:700px;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
}

/***************************************/


/****************** struttura centrale *********************/

.central {
    width:850px;
    height:580px;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
/*    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow:0px 0px 10px #333333;  */
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(230,230,230)),
        color-stop(0.52, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(230,230,230) 4%,
        rgb(255,255,255) 52%
    );  
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
}
/**********************************************************/




/*******************    IMMAGINE DI SFONDO  ***************************/
.back-image {
    position:absolute;
    padding: 10px;
    width: 830px;
    height: 560px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:830px 560px;
}



/****************************************************************************/
.vertical-strip {
    position:absolute;
    width:280px;
    height:580px;
    margin-left:50px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgba(230,230,230,0.90)),
        color-stop(0.52, rgba(255,255,255,0.90))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(230,230,230,0.90) 4%,
        rgba(255,255,255,0.90) 52%
    );
/*    -moz-box-shadow: 0px 0px 8px #222222;
    -webkit-box-shadow:0px 0px 8px #222222;*/
}

.logo {
    width:275px;
    height:200px;
    border:1px solid lime;
    text-align:center;
    
    
}
.message {
    width:260px;
    font-size:15px;
    padding:8px;
    text-align:justify;
    font-family:antiqua;
    
}
/***************************************/



/****************** classi menu *********************/

.menu {
    height: 50px;
    width: 850px;
    text-align: center;
}

.menu-button {
    margin:25px;
    text-align:center;
    vertical-align:middle;
    font-family:quirlycues;
    font-size:36px;
    font-weight:bold;
    text-shadow: 0px 2px 1px white,0px -2px 1px black;
    color:#615842;
    border-radius: 8px;
    cursor: pointer;
    padding:15px;
    display: inline-block;
    border:1px solid rgba(0,0,0,0);
}
.menu-button:hover {
    background-color: rgba(255,255,255,0.3); 
    color:#512f1c;
    border:1px solid white;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}
.menu-button:active {
    border:1px solid gray;
    color:#512f1c;
    background-color: rgba(255,255,255,0.3); 
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
}


.menu-button-selected {
    margin:25px;
    text-align:center;
    vertical-align:middle;
    font-family:quirlycues;
    font-size:36px;
    font-weight:bold;
    text-shadow: 0px 2px 1px white,0px -2px 1px black;
    border-radius: 8px;
    cursor: pointer;
    padding:15px;
    display: inline-block;
    background-color: rgba(255,255,255,0.3); 
    color:#512f1c;
    border:1px solid white;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}
/****************** *********************/








.map {
    position:absolute;
    width:0px;
    height:310px;
    margin-left:850px;
    top:135px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(230,230,230)),
        color-stop(0.52, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(230,230,230) 4%,
        rgb(255,255,255) 52%
    );
    -moz-box-shadow: 0px 0px 8px #222222;
    -webkit-box-shadow:0px 0px 8px #222222;
    -moz-border-radius: 8px 0px; 
    -webkit-border-radius: 8px 0px 0px 8px;
}

.map iframe {
    margin-left:10px;
    margin-top:5px;
    display:none;
}


.image_slot{
    padding:7px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 7px;
    -webkit-box-shadow:0px 0px 10px #333333;  
    display:inline-block;
    margin:10px;
}


.galleryTitle{
    text-align:center;
}

.back_gallery{
    background-color: #505050;
    width: 819px;
    height: 546px;
    top:30%;
    font-size: 40pt;
    font-weight: bold;
    color:gray;
    text-shadow: 0px 1px 1px 0px white, 0px -1px 1px 0px black;
}

.galleryBox{
    display:none;
    position:absolute;
    padding:30px;
    width:819px;
    height:486px;
    top:23px;
    overflow:auto
}
