@font-face {
   font-family: 'antiqua';
   src: url('../font/bookantiqua.ttf') format('truetype');;
}

@font-face {
   font-family: 'quirlycues';
   src: url('../font/Quirlycues.ttf') format('truetype');;
}

body {
    background-color:#d1c5a7;
    display: none;
}

.invisible {
	display:none;
}

.visible {
	display:block !important;
}


/****************** struttura base *********************/

.back{
    width:900px;
    height:700px;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
}

/***************************************/


/****************** struttura centrale *********************/

.central {
    width:850px;
    height:580px;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
/*    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow:0px 0px 10px #333333;  */
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(230,230,230)),
        color-stop(0.52, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(230,230,230) 4%,
        rgb(255,255,255) 52%
    );  
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
}
/**********************************************************/




/*******************    IMMAGINE DI SFONDO  ***************************/
.back-wall {
    position:absolute;
    padding: 10px;
    width: 830px;
    height: 560px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:830px 560px;
}



/****************************************************************************/
.vertical-strip {
    position:absolute;
    width:280px;
    height:580px;
    margin-left:50px;
    background-image: linear-gradient(left bottom, rgb(219,219,219) 0%, rgb(255,255,255) 57%);
    background-image: -o-linear-gradient(left bottom, rgb(219,219,219) 0%, rgb(255,255,255) 57%);
    background-image: -moz-linear-gradient(left bottom, rgb(219,219,219) 0%, rgb(255,255,255) 57%);
    background-image: -webkit-linear-gradient(left bottom, rgb(219,219,219) 0%, rgb(255,255,255) 57%);
    background-image: -ms-linear-gradient(left bottom, rgb(219,219,219) 0%, rgb(255,255,255) 57%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	right top,
    	color-stop(0, rgb(219,219,219)),
    	color-stop(0.57, rgb(255,255,255))
    );

/*    -moz-box-shadow: 0px 0px 8px #222222;
    -webkit-box-shadow:0px 0px 8px #222222;*/
}

.logo {
    width:275px;
    height:200px;
    border:1px solid lime;
    text-align:center;
    
    
}
.section-message {
    width:260px;
    font-size:15px;
    padding:8px;
    text-align:justify;
    font-family:antiqua;
    color:#707070;
    text-shadow: 0px 1px 1px white,0px -1px 1px #505050;
    
}
/***************************************/



/****************** classi menu *********************/

.menu {
    height: 50px;
    width: 850px;
    text-align: center;
}

.menu-button {
    margin:25px;
    text-align:center;
    vertical-align:middle;
    font-family:quirlycues;
    font-size:36px;
    font-weight:bold;
    text-shadow: 0px 2px 1px white,0px -2px 1px black;
    color:#615842;
    border-radius: 8px;
    cursor: pointer;
    padding:15px;
    display: inline-block;
    border:1px solid rgba(0,0,0,0);
}
.menu-button:hover {
    background-color: rgba(255,255,255,0.3); 
    color:#512f1c;
    border:1px solid white;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}
.menu-button:active {
    border:1px solid gray;
    color:#512f1c;
    background-color: rgba(255,255,255,0.3); 
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
}


.menu-button-selected {
    margin:25px;
    text-align:center;
    vertical-align:middle;
    font-family:quirlycues;
    font-size:36px;
    font-weight:bold;
    text-shadow: 0px 2px 1px white,0px -2px 1px black;
    border-radius: 8px;
    cursor: pointer;
    padding:15px;
    display: inline-block;
    background-color: rgba(255,255,255,0.3); 
    color:#512f1c;
    border:1px solid white;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}
/****************** *********************/
